* {
    margin: 0;
    padding: 0;

    background-color: #E5E5E5;;
}
.header {
    width:auto;
    height: 60px;

    background-color: #FE1A19;

    display: flex;
    align-items: center;
}
.h1{
    padding-left: 20px;

    background-color: #FE1A19;

    color: white;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.container { 
    padding-top: 52px ;
    padding-bottom: 52px;
    

    display: flex;
    justify-content: center;

    gap: 50px;
}
.thing {
    width: 400px;
    padding: 33px;

    border: solid 5px #E5E000;
    border-radius: 30px;
}
.thing:last-child {
 
}

.footer {
    width: auto;
    height: 60px;


    background-color: #FE1A19;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-two{
    width: 135px;
    height: 29px;

    margin-right: 36px;

    background-color: #FE1A19;
    background-image: url(frame335.png);
}
.tart-name {
    margin-bottom: 41px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    
}
.tart-receipt {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
ul {
    list-style-type: none;
    padding-bottom: 30px;
}